.sponsor-bank {
  .row {padding: 2em 0;}
  .small2 {margin: 0 10px;}
    @media (max-width : 480px){
      img {height: 30px;}
      .small1 {margin-bottom: 10px;}
    }
    @media (min-width : 481px) and (max-width : 992px) {
      img {height: 30px;}
      .small1 {margin-bottom: 10px;}
    }
    @media (min-width : 993px) and (max-width : 1200px) {}
    @media (min-width: 1200px) {
      img {margin-left: 1em; margin-right: 1em;}
    }
  }

.logo-bank{
  height: 50px;
  width: 50px;
  background-color: green;
  margin:0 auto 30px auto;
}
