.sponsor-bank {
  .row {padding: 2em 0;
  .small2 {margin: auto 10px;}
    @media (max-width : 480px){
      img {height: 30px;}
      .small1 {margin-bottom: 10px;}
    }
    @media (min-width : 481px) and (max-width : 992px) {
      img {height: 30px;}
      .small1 {margin-bottom: 10px;}
    }
    @media (min-width : 993px) and (max-width : 1200px) {
      .small1 {
        display: flex;
        justify-content:space-between;
        align-items:center;
        height:50px;
        text-align:right;
      }
    }
    @media (min-width: 1200px) {
      img {margin-left: 1em; margin-right: 1em;}
      .small1 {
        display: flex;
        justify-content:space-between;
        align-items:center;
        height:50px;
        text-align:right;
      }
    }
  }
}

// .logo-bank-1, .logo-bank-2, .logo-bank-3, .logo-bank-4, .logo-bank-5, .logo-bank-6 {
//     width: 100%;
//     height: auto;
//     background-repeat: no-repeat;
//     background-position: center;
//   }

// // .logo-bank-1 {background-image: image-url('bank-ca.png');}
// .logo-bank-2 {background-image: image-url('bank-barclays.png');}
// .logo-bank-3 {background-image: image-url('bank-bnp.png');}
// .logo-bank-4 {background-image: image-url('bank-hsbc.png');}
// .logo-bank-5 {background-image: image-url('bank-ing.png');}
// .logo-bank-6 {background-image: image-url('bank-sg.png');}
