.banner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  z-index:0;
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    @media (max-width : 480px) {background-image: image-url('paycar-banner-sm.png');}
    @media (min-width : 481px) and (max-width : 992px) {background-image: image-url('paycar-banner-sm.png');}
    @media (min-width : 993px) and (max-width : 1200px) {background-image: image-url('paycar-banner-md.png');}
    @media (min-width: 1200px) {background-image: image-url('paycar-banner-md.png');}

  img {
    @media (max-width : 480px) {width: 40%; margin-bottom: 20px;}
  }

  .img-anchor {
    height: 30px;
    width: 30px;
    -webkit-animation: jump 1.5s ease 0s 3 normal ;
   animation: jump 1.5s ease 0s 3 normal ;
   @media (max-width : 480px) {margin-right:2em;}
  }

  .position-anchor{
    @media (max-width : 480px) {align-self: flex-end; margin-top: -8em; text-align:right;}
    @media (min-width : 481px) and (max-width : 992px) {align-self: flex-end; margin-top: -5em;}
    @media (min-width : 993px) and (max-width : 1200px) {align-self: flex-end; margin-top: -5em;}
    @media (min-width: 1200px) {align-self: flex-end; margin-top: -5em;}
  }

   @-webkit-keyframes jump {
  0%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  20%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  40%{
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  }
  50%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  60%{
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  }
  80%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
}

@keyframes jump {
  0%{
  transform: translateY(0);
  }
  20%{
  transform: translateY(0);
  }
  40%{
  transform: translateY(-30px);
  }
  50%{
  transform: translateY(0);
  }
  60%{
  transform: translateY(-15px);
  }
  80%{
  transform: translateY(0);
  }
  100%{
  transform: translateY(0);
  }
}

  h3 {
    margin-top: 5px;
  }

  input {
    text-transform: uppercase;
  }

  small {
    text-transform: uppercase;
  }

  .round {
    border-radius: 60px;
    background: white;
    color: $brand-color-blue;
  }

  .inside-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  .range-btn {
    display:flex;
    flex-direction: column;
    max-width: 160px;
  @media (max-width : 480px) {}
  @media (min-width : 481px) and (max-width : 992px) {margin-top: 30px;}
  @media (min-width : 993px) and (max-width : 1200px) {margin-top: 30px;}
  @media (min-width: 1200px) {margin-top: 30px;}
  }

  .inside-range-btn {
    align-self: center;
  }
}

.btn-large {
  font-size: 16px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-banner {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-banner:hover,
.btn-banner:focus,
.btn-banner:active,
.btn-banner.active,
.open .dropdown-toggle.btn-banner {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-banner {
  background: #0099cc;
  color: #ffffff;
}
.btn-banner:hover, .btn-banner:focus, .btn-banner:active, .btn-banner.active, .open > .dropdown-toggle.btn-banner {
  background: #33a6cc;
}
.btn-banner:active, .btn-banner.active {
  background: #007299;
  box-shadow: none;
}
