/* Main class */
.navbar-paycar {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  color: white;
  @media (max-width : 480px) {height: 120px; padding: 0px 10px; padding-top: 10px;}
  @media (min-width : 481px) and (max-width : 992px) {height: 90px; padding: 0px 20px; padding-top: 5px;}
  @media (min-width : 993px) and (max-width : 1200px) {height: 90px; padding: 0px 20px;}
  @media (min-width: 1200px) {height: 90px; padding: 0px 30px;}

    small {
    margin-left: 10px;
    margin-right: 10px;
  }
  a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
  }
  .cl-effect-15 a {
  color: rgba(0,0,0,0.2);
  font-weight: 700;
  text-shadow: none;
  }

  .cl-effect-15 a::before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
  }

  .cl-effect-15 a:hover::before,
  .cl-effect-15 a:focus::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }

  img {
    @media (max-width : 480px) {width: 35%; height: auto;}
    @media (min-width : 481px) and (max-width : 992px) {width: 15%; height: auto;}
    @media (min-width : 993px) and (max-width : 1200px) {width: 15%; height: auto;}
    @media (min-width: 1200px) {width: 12%; height: auto;}
  }
}

