.negociator {
  background-image: linear-gradient(-180deg, #70C9E9 9%, #3D98CF 100%);
  height: auto;

  h3 {
    font-weight:800;
    color: white;
  }

  p{
    color: white;
  }

  .image-smile {
    height: 200px;
    width: 200px;
    background-image: image-url('smile.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin:0 auto;
    @media (max-width : 480px){
      height: 100px;
      width: 100px;
      margin-top:1em;
    }
  }

  .negociator-space {
    @media (max-width : 480px) {}
    @media (min-width : 481px) and (max-width : 992px) {
      margin-top: 2em;
    }
    @media (min-width : 993px) and (max-width : 1200px) {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      margin-top: 2em;
    }
    @media (min-width: 1200px) {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      // align-self: center;
      margin-top: 2em;
    }
  }
}
