/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


// Responsive

/* Extra Small Devices, Phones */
@media (max-width : 480px){
  h1 {font-size: 34px;}
  h2 {font-size: 22px;}
  h3 {font-size: 18px;}
  h4 {font-size: 16px;}
  p {font-size: 16px;}
  small {font-size: 11px;}

  .row-margin {margin: 2em 0;}
  .space-around {margin: 1em 0;
}
}

// /* Extra Small Devices, Phones */
// @media (min-width : 481px) and (max-width : 768px) {

// }

/* Small Devices, Tablets */
@media (min-width : 481px) and (max-width : 992px) {
  h1 {font-size: 45px;}
  h2 {font-size: 34px;}
  h3 {font-size: 22px;}
  h4 {font-size: 18px;}
  p {font-size: 16px;}
  small {font-size: 11px;}

  .row-margin {margin: 3em 0;}

}

/* Medium Devices, Desktops */
@media (min-width : 993px) and (max-width : 1200px) {
  h1 {font-size: 63px;}
  h2 {font-size: 45px;}
  h3 {font-size: 34px;}
  h4 {font-size: 22px;}
  p {font-size: 16px;}
  small {font-size: 11px;}

  .row-margin {margin: 5em 0;}
}

/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
  h1 {font-size: 63px;}
  h2 {font-size: 45px;}
  h3 {font-size: 34px;}
  h4 {font-size: 22px;}
  p {font-size: 16px;}
  small {font-size: 11px;}

  .row-margin {margin: 5em 0;}
}


// @media (max-width : 480px){

// }


// /* Small Devices, Tablets */
// @media (min-width : 481px) and (max-width : 992px) {

// }

// /* Medium Devices, Desktops */
// @media (min-width : 993px) and (max-width : 1200px) {

// }

// /* Large Devices, Wide Screens */
// @media (min-width: 1200px) {

// }
