<div class="navbar-paycar">
  <!-- Logo -->
  <div>
    <img src="images/paycar-logo.png" alt="Logo PayCar">
    <br class="visible-xs">
    <small>recommandé par</small>
    <br class="visible-xs">
    <img src="images/leboncoin-logo.png" alt="Logo Leboncoin">
  </div>

  <div class="hidden-xs hidden-sm">
    <nav class="cl-effect-15"><a href="#" data-hover="s'inscrire">s'inscrire</a></nav>
  </div>
</div>
