<div class="navbar-paycar">
  <!-- Logo -->
  <div>
    <img src="images/paycar-logo.png" alt="Logo PayCar" height="70px">
    <small>recommandé par</small>
    <img src="images/leboncoin-logo.png" alt="Logo Leboncoin" width="120px">
  </div>

  <div class="hidden-xs hidden-sm">
    <nav class="cl-effect-15"><a href="#" data-hover="s'inscrire">s'inscrire</a></nav>
  </div>
</div>
