<!-- banner -->
<div class="banner">
  <div class="container" style="overflow: hidden;">
    <div class="row" style=" position: relative;">
      <div class="col-xs-12 col-sm-offset-1 col-sm-8 col-md-6 ol-lg-6">
        <div class="visible-xs" style="margin-top: 3em"></div>
        <div class="inside-banner">
          <div>
            <div>
              <h1>
              <strong>Oubliez les allers-retour à la banque,</strong>
              </h1>
              <h3>Payez votre voiture d’occasion avec</h3>
              <img src="images/paycar.png" alt="logo PayCar blanc">
            </div>
            <div class="range-btn">
              <div>
                <input class="btn btn-banner btn-large round" type="button" value="je découvre">
              </div>
              <div class="inside-range-btn">
                <small>gratuit</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-xs-12 text-center position-anchor">
        <a href="#anchor">
          <img src="images/arrow.png" class="img-anchor" alt="arrow to next menu">
        </a>
      </div>
    </div>

    </div>
  </div>
</div>



<!-- logo banques partenaires-->
<div id="anchor"></div>
<div style="background-color: #FAFAFA;">
  <div class="container sponsor-bank">
    <div class="row text-center">
      <div class="col-sm-offset-2 col-sm-3 col-md-offset-2 col-md-3 small1"><small style="font-size: 16px;">Recommandé par</small></div>
      <div class="col-sm-5 col-md-6">
        <img src="images/logo-credit-mutuel-arkea.png" alt="Logo crédit mutuel">
        <small class="small2" style="font-size: 16px;">&</small>
        <img src="images/logo-bnp-paribas.png" alt="Logo BNP Paribas">
      </div>
    </div>
  </div>
</div>

<!-- arguments de vente statique-->
<div  style="background-color: #f5f5f5">
  <div class="container visible-sm visible-md visible-lg">
    <div class="row row-margin argt-vente-statique">
      <div class="space-around col-xs-12 col-sm-4">
        <div class="argt1"></div>
        <h4>100% en ligne</h4>
        <p>Vous n’avez pas besoin d’un chèque de banque, ne vous déplacez plus inutilement.</p>
      </div>
      <div class="space-around col-xs-12 col-sm-4">
        <div class="argt2"></div>
        <h4>Paiement<br>24/24h et 7/7j</h4>
        <p>Achetez votre voiture d’occasion, même le weekend.</p>
      </div>
      <div class="space-around col-xs-12 col-sm-4">
        <div class="argt3"></div>
        <h4>Sans engagement</h4>
        <p>Changement de plan?<br>Annulez ou modifiez le montant à la dernière minute.</p>
      </div>
    </div>
  </div>
</div>
<!-- arguments de vente mobile-->
<div  style="background-color: #f5f5f5">
<div class="container visible-xs">
  <div class="row row-margin argt-vente-dynamique">
    <div class="carousel carousel--cell-selector" data-flickity="{ &quot;cellSelector&quot;: &quot;.carousel-cell&quot;}">
      <div class="carousel-cell">
        <div class="cell-1"></div>
        <h4>100% en ligne</h4>
        <p>Vous n’avez pas besoin d’un chèque de banque,<br>ne vous déplacez plus inutilement.</p>
      </div>
      <div class="carousel-cell">
        <div class="cell-2"></div>
        <h4>Paiement<br>24/24h et 7/7j</h4>
        <p>Achetez votre voiture d’occasion, même le weekend.</p>
      </div>
      <div class="carousel-cell">
        <div class="cell-3"></div>
        <h4>Sans engagement</h4>
        <p>Changement de plan?<br>Annulez ou modifiez le montant à la dernière minute</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- advice -->
<div class="advice">
  <div class="container">
    <div class="row row-margin">
      <div class="col-xs-12">
        <h3>Ils sont convaincus et ils en parlent !</h3>
        <div class="avis-verifies-xs visible-xs text-center">
          <meta class="netreviewsWidget" id="netreviewsWidgetNum10043" data-jsurl="//cl.avis-verifies.com/fr/cache/0/3/0/030027c1-b1bf-1d64-e1f0-05dc22523c57/widget4/widget03-10043_script.js"/><script src="//cl.avis-verifies.com/fr/widget4/widget03.min.js"></script>
        </div>


        <div class="avis-verifies-md visible-sm visible-md visible-lg">
          <iframe id='AV_widget_iframe' frameBorder="0" width="100%" height="100%" src="//cl.avis-verifies.com/fr/cache/0/3/0/030027c1-b1bf-1d64-e1f0-05dc22523c57/widget4/030027c1-b1bf-1d64-e1f0-05dc22523c57horizontal_index.html"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- steps -->
<div  style="background-color: #f5f5f5">
<div class="container steps-statique visible-sm visible-md visible-lg">
  <div class="row">
    <div class="space-around col-xs-12 col-sm-4">
      <div class="step1"></div>
      <h4>Inscrivez-vous gratuitement</h4>
      <p>Depuis votre compte vous pouvez vérifier l’identité de votre vendeur. Fini les arnaques.</p>
    </div>
    <div class="space-around col-xs-12 col-sm-4">
      <div class="step2"></div>
      <h4>Virez vos fonds sur votre compte PayCar</h4>
      <p>Votre vendeur peut vérifier que votre compte est crédité : vous gardez le contrôle sur votre argent.</p>
    </div>
    <div class="space-around col-xs-12 col-sm-4">
      <div class="step3"></div>
      <h4>Payez votre nouvelle voiture</h4>
      <p>Le jour J, virez l'argent à votre vendeur en toute sécurité directement sur son compte. Il vous donne les clés.</p>
    </div>
  </div>
  <div class="row steps">
    <input class="btn btn-steps btn-large round" type="button" value="je découvre">
  </div>
</div>
</div>

<!-- steps mobile-->
<div  style="background-color: #f5f5f5">
<div class="container visible-xs">
  <div class="row row-margin argt-vente-dynamique">
    <div class="carousel carousel--cell-selector" data-flickity="{ &quot;cellSelector&quot;: &quot;.carousel-cell&quot;}">
      <div class="carousel-cell">
        <div class="step1"></div>
        <h4>Inscrivez-vous gratuitement</h4>
      <p>Depuis votre compte vous pouvez vérifier l’identité de votre vendeur. Fini les arnaques.</p>
      </div>
      <div class="carousel-cell">
        <div class="step2"></div>
        <h4>Virez vos fonds sur votre compte PayCar</h4>
      <p>Votre vendeur peut vérifier que votre compte est crédité : vous gardez le contrôle sur votre argent.</p>
      </div>
      <div class="carousel-cell">
        <div class="step3"></div>
        <h4>Payez votre nouvelle voiture</h4>
      <p>Le jour J, virez l'argent à votre vendeur en toute sécurité directement sur son compte. Il vous donne les clés.</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- negociateur -->
<div class="negociator">
  <div class="container">
    <div class="row row-margin">
      <div class="col-xs-12 col-sm-6 negociator-space">
        <h3>Bon négociateur ?</h3>
        <p>S’il vous reste des fonds après la transaction, rapatriez-les gratuitement en 1 clic.</p>
      </div>
      <div class="col-xs-12 col-sm-6 d-flex">
        <div class="image-smile"></div>
      </div>
    </div>
  </div>
</div>
<!-- gratuit pour acheteur -->
<div class="container">
  <div class="row row-margin free-for-buyer">
    <div class="col-xs-12 col-sm-6">
      <h3>Gratuit pour l’acheteur</h3>
      <p class="first-child">(quelle que soit sa banque)</p>
      <p>Une commission de 29€ prélevée côté vendeur uniquement en cas de transaction.</p>
    </div>
    <div class="col-xs-12 col-sm-6 text-center free-for-buyer-space">
      <div class="inside-range-btn btn-buyer">
        <small>JE M'INSCRIS</small>
      </div>
      <input class="btn btn-steps btn-large round" type="button" value="j'invite mon vendeur">
    </div>
  </div>
  <div class="row row-margin text-center buyer-bank" style="margin:5em 0 1em 0;">
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img src="images/bank-ca.png" alt="logo crédit agricole">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img src="images/bank-bnp.png" alt="logo crédit agricole">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img src="images/bank-hsbc.png" alt="logo crédit agricole">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img src="images/bank-ing.png" alt="logo crédit agricole">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img src="images/bank-sg.png" alt="logo crédit agricole">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img src="images/bank-barkclays.png" alt="logo crédit agricole">
    </div>
  </div>
</div>
<!-- contact -->
<div class="contact text-center">
  <div class="container">
    <div class="row row-margin">
      <h3>Une question?</h3>
      <div class="col-xs-12 col-sm-6">
        <div class="mobile"></div>
        <h4>Appelez-nous</h4>
        <p>0800 123 123</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="mail"></div>
        <h4>Laissez-nous votre e-mail,<br>
        on vous recontacte</h4>
        <div class="text-center">
          <form class="form-inline">
            <div class="form-group">
              <div class="col-xs-10" style=" display: flex; align-items: center; margin: 0;">
                <label for="email"></label>
                <input type="email" class="form-control form-modif" id="email" placeholder="mon@email.com">
                <div class="col-xs-2" style="padding-left: 0.5em">
                  <button type="submit" class="btn btn-link btn-contact">OK</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="footer">
    <div class="row text-center">
      <div class="col-xs-12" style="height:30px;">
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpaycar.fr%2F&width=122&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="122" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
      <div class="col-xs-12" style="margin-top: 1em;">
        <small><strong>PayCar 2017 ©</strong><br>
        Tous droits réservés</small>
      </div>
    </div>
  </div>
</div>
