<!-- banner -->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md- ol-lg-6 center">
        <div class="visible-xs" style="margin-top: 3em"></div>
        <div class="inside-banner">
          <div>
            <div>
              <h1><strong>Oubliez
              les allers-retour à la banque,</strong></h1>
              <h3>Payez votre voiture d’occasion avec</h3>
              <img src="images/paycar.png" alt="logo PayCar blanc">
            </div>
            <div class="range-btn">
              <div>
                <input class="btn btn-banner btn-large round" type="button" value="je découvre">
              </div>
              <div class="inside-range-btn">
                <small>gratuit</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- arguments de vente statique-->
<div class="container hidden-xs hidden-sm">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 argt-vente-statique">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="argt1"></div>
        <h4>100% en ligne</h4>
        <p>Vous n’avez pas besoin d’un chèque de banque, ne vous déplacez plus inutilement.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="argt2"></div>
        <h4>Paiement<br>24/24h et 7/7j</h4>
        <p>Achetez votre voiture d’occasion, même le weekend.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
        <div class="argt3"></div>
        <h4>Sans engagement</h4>
        <p>Changement de plan?<br>Annulez ou modifiez le montant à la dernière minute</p>
      </div>
    </div>
  </div>
</div>

<!-- arguments de vente mobile-->
<div class="container hidden-md hidden-lg">
  <div class="row argt-vente-dynamique">
    <div class="carousel carousel--cell-selector" data-flickity="{ &quot;cellSelector&quot;: &quot;.carousel-cell&quot;}">
      <div class="carousel-cell">
        <div class="cell-1"></div>
        <h4>100% en ligne</h4>
        <p>Vous n’avez pas besoin d’un chèque de banque,<br>ne vous déplacez plus inutilement.</p>
      </div>
      <div class="carousel-cell">
        <div class="cell-2"></div>
        <h4>Paiement<br>24/24h et 7/7j</h4>
        <p>Achetez votre voiture d’occasion, même le weekend.</p>
      </div>
      <div class="carousel-cell">
        <div class="cell-3"></div>
        <h4>Sans engagement</h4>
        <p>Changement de plan?<br>Annulez ou modifiez le montant à la dernière minute</p>
      </div>
    </div>
  </div>
</div>

<!-- advice -->
<div class="advice" style="background-color: #F2F2F2; height: 300px">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
<!-- steps -->
<div class="container" style="height: 300px">
  <div class="row">
  </div>
</div>
<!-- negociateur -->
<div class="negociator" style="background-image: linear-gradient(-180deg, #70C9E9 9%, #3D98CF 100%); height: 300px">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
<!-- gratuit pour acheteur -->
<div class="container" style=" height: 300px">
  <div class="row">
  </div>
</div>
<!-- contact -->
<div class="contact" style="background-color: #F2F2F2; height: 300px">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
<!-- footer -->
<div class="footer" style="background-color: #D8D8D8; height: 300px">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
