<!-- <div class="welcome text-center padded">
  <h1>Hello PayCar World!</h1>
  <p>:D :)</p> </div>-->
  <!-- banner -->
  <div class="banner">
    <div class="container">
      <div class="row col-xs-12 col-sm-8 col-md- ol-lg-6 center">
      <div class="visible-xs" style="margin-top: 3em"></div>

        <div class="inside-banner">
          <div>
            <div>
              <h1><strong>Oubliez
              les allers-retour à la banque,</strong></h1>
              <h3>Payez votre voiture d’occasion avec</h3>
              <img src="images/paycar.png" alt="logo PayCar blanc">
            </div>

            <div class="range-btn">
              <div>
                <input class="btn btn-banner btn-large round" type="button" value="je découvre">
              </div>
              <div class="inside-range-btn">
                <small>gratuit</small>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div style="height: 300px;">
  </div>
